<div class="mb-4">
  <div class="rounded-md p-4 bg-blue-50 dark:bg-blue-900/50" role="alert" aria-live="polite" aria-atomic="false">
    <div class="flex">
      <div class="shrink-0">
        <svg class="size-5 text-blue-400 dark:text-blue-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="ml-3">
        <p id="status-message" class="text-sm font-medium text-blue-800 dark:text-blue-200"><%= message %></p>
      </div>
      <% if defined?(spinner) && spinner %>
        <div class="ml-auto pl-3">
          <div class="-mx-1.5 -my-1.5">
            <!-- Animated spinner -->
            <div class="flex items-center justify-center h-6 w-6 mx-1.5 my-1.5">
              <svg class="animate-spin h-5 w-5 text-blue-400" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 0 1 8-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 0 1 4 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
